[submodule "src/RadianTools.Generators.UnmanagedStructGenerator"]
	path = src/RadianTools.Generators.UnmanagedStructGenerator
	url = https://github.com/radian-jp/RadianTools.Generators.UnmanagedStructGenerator.git
